<div>
  <Context::Provider @name='design' @value={{this.value}} as |value|>
    <Card @backgroundColor={{value}}>
      <Button />
    </Card>

    <Context @name='design' as |value|>
      hi {{value}}
    </Context>

  </Context::Provider>
</div>

{{outlet}}
